div {
  --angle: 0deg;
  width: 50vmin;
  height: 50vmin;
  border: 1px dashed;
  border-radius: 5px;
  padding: 10px;
  border-image: conic-gradient(from var(--angle), red 10deg, yellow 10deg 30deg, lime, aqua, blue, magenta, red) 1;
  
  animation: 3s rotate ease-in-out infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}